<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Trilok Singh Jabinda Lawn{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <header>
      <h1>Trilok Singh Jabinda Lawn</h1>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <small>&copy; {{ now|date:'Y' }} Trilok Singh Jabinda Lawn</small>
    </footer>
  </body>
</html> 